/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
 
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
.lien_header{
	cursor:pointer
}

.lien_header a {
	text-decoration: none;
	color: black;
}

.lien_header a:hover{
	color: #B1663C;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.section_projet{
	display: flex;
    justify-content: center;
    gap: 25px;
}

.section_projet a {
	margin-top: 0.6rem;
    font: inherit;
    color: black;
    text-decoration: none;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
    height: 100%;
    object-fit: cover;
	
}

.filter-container{
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
	gap: 0.5rem;
}

.filter-container button{
	color: #1D6154;
    background-color: white;
    border: 2px solid #1D6154;
    border-radius: 1rem;
    font-family: 'syne';
    padding: 0.6rem 0.8rem 0.6rem 0.8rem;
    font-size: 0.8rem;
    font-weight: 500;
	outline: none;
    cursor: pointer;
}

.filter-btn:focus{
	background-color: #1D6154;
	color: white;
}


#contact, #login {
width: 50%;
margin: auto;
}
#contact, #login > * {
	text-align: center;

}
#contact h2, #login h2{
	margin-bottom: 20px;
}
#contact form, #login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #login label {
	margin: 2em 0 1em 0;
}
#contact textarea, #login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
} 

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
#login a {
	text-decoration: underline;
	color:#3D3D3D;
	text-align: center;

}
#login {
	margin-top: 50px;
	margin-bottom: 50px;
}

footer{

	display: flex;
	flex-direction: row-reverse;

}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
	
}

.container_modale {
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajoute un fond semi-transparent pour l'arrière-plan */
    z-index: 999; /* Assurez-vous que la modale est au-dessus de tous les autres éléments */
}

.container_modale .modale {
	background-color: white;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75%;
    width: 36%;
}

.container_modale .fa-xmark {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
	font-size: 1.2rem;
	font-weight: 600;

}

.container_modale .modale h2 {
    display: flex;
    justify-content: center;
    color: black;
    font-family: inherit;
    font-weight: 300;
	margin-top: 0.5rem;
	margin: 10px 0px 20px 0px;


}

.container_modale .modale button {
	position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #1D6154;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Syne';


}

.galerie_modale {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    grid-gap: 12px; /* Espace entre les images */
	margin: 0px 35px 0px 35px;
}

.galerie_modale figure {
    position: relative; /* Pour que le span soit positionné par rapport à la figure */
}

.galerie_modale figure span {
    position: absolute;
    top: 7px;
    left: 60px;
    background-color: black; /* Fond semi-transparent */
    padding: 4px; /* Espacement autour de la poubelle */
    border-radius: 25%; /* Pour un aspect circulaire */
	font-size: 12px;
}

.galerie_modale figure img {
    width: 85px; /* Pour que l'image remplisse complètement son conteneur */
    height: 120px; /* Pour conserver le rapport hauteur-largeur de l'image */
	object-fit: cover;
}

.fa-trash-can {
    color: white; /* Couleur de la poubelle */
    cursor: pointer; /* Curseur de la souris lorsqu'il survole la poubelle */
	font-weight: 100;
}

.add_projet_modale{
	display: none;
	flex-direction: column;
	background-color: white;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75%;
    width: 36%;
}
.add_projet_modale h2{
	display: flex;
    justify-content: center;
    color: black;
    font-family: inherit;
    font-weight: 300;
    margin-top: 0.5rem;
    margin: 10px 0px 20px 0px;
}

.fa-arrow-left{
	position: absolute;
    top: 10px;
	left: 10px;
    cursor: pointer;
    font-size: 1.2rem;
	font-weight: 600;
}

form{
	display: flex;
	flex-direction: column;
}
.container_file{
	background: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.1rem;
    height: 12rem;
    justify-content: space-around;
}


.container_file input, .container_file img{
	display: none;
}

.container_file label{
	background-color:#CBD6DC;
	color: #306685;
    width: 40%;
    margin-left: 30%;
	padding: 10px 0px;
	border-radius: 20px;
	cursor: pointer;
}

.container_file img{
	display: flex;
    object-fit: cover;
    height: 100%;
    width: 100%
}

.container_img{
	height: 100%;
}

.container_file span{
	display: flex;
	justify-content: center;
	font-size: 5rem;
	color: #CBD6DC;
}

.container_file p{
	font-size: 13px;
    margin-top: -5px;
    margin-bottom: 30px;
}

.container_file label, p{
	display: flex;
	justify-content: center;
}

form input, select{
	height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

form label{
	margin: 25px 0px 10px 0px;
}

.valider{
	position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 100px;
    background-color: #1D6154;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Syne';
}

#btnConnect{
	cursor: pointer;
}

.succes{
	font-weight: bold;
	color: #1D6154;
	text-align: center;
	font-size: 15px;
	margin-bottom: 4px;
}